body {
    margin: 0;
    font-family: Roboto,sans-serif;
    scroll-behavior: smooth;
}
.logo_entete {
    font-family: Shrikhand,"cursive";
    margin: 0;
    text-align: center;
}
.logo{
    margin: 16px;
}
.recherche{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 16px 20px;
    background-color: #f3f3f3;
    font-size: 20px;
}
.icone{
    margin-right: 16px;
}
.champs_de_recherche{
    font-weight: 700;
}
.sous_bloc{
    text-align: center;
    padding: 32px;
    background-color: #fafafa;
}
.suggestion{
    margin: 0;
}
.suggestion_divers{
    font-weight: 300;
    margin: 24px;
}
.explorer{
    border: 0;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}